
@{
    ViewData["Title"] = "RespuestasIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RespuestasIndex</h2>

<li>
    
    @Html.ActionLink("Crear respuesta", "crear", "Respuestas")
   </li>

<li>    @Html.ActionLink("Borrar respuesta", "borrar", "Respuestas")</li>
<li>@Html.ActionLink("Modificar respuesta", "modificar", "Respuestas")</li>
    <li>@Html.ActionLink("Buscar respuesta", "buscar", "Respuestas")</li>
    <li>@Html.ActionLink("Listar respuestas", "listar", "Respuestas")</li>



